<!DOCTYPE HTML>
<html lang="en">
<style>
body {
  height: 100vh;
  margin: 0;
  position: relative;
}

.box {
  height: 100px;
  line-height: 100px;
  left: 25%;
  position: absolute;
  margin: -50px 0 0 -100px;
  text-align: center;
  top: 30%;
  width: auto;
}
</style>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>404 Not Found</title>
</head>
<body>
<div class="box">
    <div class="box-content">
  	PEMBERITAHUAN : HALAMAN INI MUNCUL MENANDAKAN HALAMAN YANG INGIN ANDA AKSES/KUNJUNGI/LIHAT TIDAK DAPAT DILIHAT
    </div>
</div>
</body>
</html>
